body{
background-color: #8BC6EC;

background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}

a{
  color: #253949;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  opacity: 1;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #253949;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
.search-form-button:hover{
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.current-data {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.current-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.current-details strong {
  color: #ff9b83;
}

.temperature-container {
  display: flex;
}

.temp-icon {
  width: 88px;
  height: 88px;
}

.current-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: #253949;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}